@font-face{
    font-family: 'poppins-bold';
    src:url('../fonts/poppins-bold-webfont.ttf');
}
@font-face{
    font-family: 'poppins-mid';
    src:url('../fonts/poppins-medium-webfont.ttf');
}
@font-face{
    font-family: 'kiona';
    src:url('../fonts/Kiona-Regular.ttf');
}
@font-face{
    font-family: 'theboldfont';
    src:url('../fonts/theboldfont.ttf');
}
